
<p>about-us works!</p>


<!-- <form   method="get" action="">
    <input type="text" id="name" name="namsade" required placeholder="Enter your name">
    <input type="email" id="email" name="emasdail" required placeholder="Enter your email">

    <input type="submit" value="Submit">
</form> -->

<form   method="post" action="">
    <input type="text" id="name" name="namsade" required placeholder="Enter your name">
    <input type="email" id="email" name="emasdail" required placeholder="Enter your email">

    <input type="submit" value="Submit">
</form>
